{% extends '@Forumify/frontend/base.html.twig' %}
{% block title_page %}
    {{ operation.title }}
{% endblock %}
{% block body %}
    <div class="breadcrumbs text-small">
        <a href="{{ path('perscom_operations_center') }}">{{ 'perscom.opcenter.operations_center'|trans }}</a> &gt;
        {{ operation.title }}
    </div>
    <div class="mb-8 flex justify-between">
        <div>
            <h1 class="mb-0">{{ operation.title }}</h1>
            <p class="text-small">
                {% if operation.start %}
                    {{ operation.start|date('j M Y') }}
                {% endif %}
                {% if operation.start and operation.end %}
                    <i class="ph ph-arrow-right"></i>
                {% endif %}
                {% if operation.end %}
                    {{ operation.end|date('j M Y') }}
                {% endif %}
            </p>
        </div>
        <div class="flex gap-2">
            {{ component('SubscribeButton', {
                entityId: operation.id,
                subscriptionType: constant('Forumify\\PerscomPlugin\\Perscom\\Notification\\MissionCreatedNotificationType::TYPE')
            }) }}
            {% if can('manage_missions', operation) %}
                <a class="btn-primary" href="{{ path('perscom_missions_create', { operation: operation.id }) }}">
                    <i class="ph ph-plus"></i>
                    {{ 'perscom.mission.create'|trans }}
                </a>
            {% endif %}
        </div>
    </div>
    <div class="mb-4">
        <h3>{{ 'perscom.operation.missions'|trans }}</h3>
        {{ component('Perscom\\MissionList', { operation: operation }) }}
    </div>
    <div>
        <h3>{{ 'perscom.operation.operation' }}</h3>
        <div class="box">
            {{ operation.content|rich }}
        </div>
    </div>
{% endblock %}
