{% extends '@Forumify/frontend/base.html.twig' %}
{% block title_page %}{{ 'perscom.enlistment.enlist'|trans }}{% endblock %}
{% block body %}
    <div class="box">
        {% if successMessage is not empty %}
            <p>{{ successMessage|markdown }}</p>
        {% endif %}
        <p>{{ 'perscom.enlistment.pending'|trans }}</p>
        <div class="flex justify-center gap-4">
            {% if enlistmentTopic is not null %}
                <a class="btn-primary" href="{{ path('forumify_forum_topic', { slug: enlistmentTopic.topic.slug }) }}">
                    {{ 'perscom.enlistment.topic'|trans }}
                </a>
            {% endif %}
            <a class="btn-outlined" href="{{ path('perscom_enlist', { force_new: true }) }}">{{ 'perscom.enlistment.start_new'|trans }}</a>
        </div>
    </div>
{% endblock %}
