{% set isPremium = plugin_version('forumify/forumify-perscom-plugin', 'premium') %}
{% embed '@Forumify/components/menu.html.twig' with { placement: 'bottom-start' } %}
    {% block button_text %}{{ name }}{% endblock %}
    {% block menu_items %}
        <a class="btn-link" href="{{ path('perscom_roster') }}">{{ 'perscom.roster.title'|trans }}</a>
        <a class="btn-link" href="{{ path('perscom_awards') }}">{{ 'perscom.award.title'|trans }}</a>
        <a class="btn-link" href="{{ path('perscom_ranks') }}">{{ 'perscom.rank.title'|trans }}</a>
        {% if isPremium %}
            {% if setting('perscom.operations.show_in_menu') %}
                <a class="btn-link" href="{{ path('perscom_operations_list') }}">{{ 'perscom.opcenter.operations'|trans }}</a>
            {% endif %}
            {% if setting('perscom.courses.show_in_menu') %}
                <a class="btn-link" href="{{ path('perscom_courses_list') }}">{{ 'perscom.opcenter.courses'|trans }}</a>
            {% endif %}
        {% endif %}
        {% if canEnlist %}
            <a class="btn-link" href="{{ path('perscom_enlist') }}">{{ 'perscom.enlistment.enlist'|trans }}</a>
        {% else %}
            <a class="btn-link" href="{{ path('perscom_operations_center') }}">{{ 'perscom.opcenter.operations_center'|trans }}</a>
        {% endif %}
    {% endblock %}
{% endembed %}
