{% extends '@Forumify/admin/base.html.twig' %}
{% block title_page %}
    {{ 'perscom.admin.users.list.title'|trans }}
{% endblock %}
{% block body %}
    {% include '@ForumifyPerscomPlugin/frontend/components/sync_warning.html.twig' %}
    <div class="flex justify-between items-center mb-4">
        <span class="flex items-center gap-2">
            <h2 class="mb-0">{{ 'perscom.admin.users.list.title'|trans }}</h2>
            {% if capabilities.create %}
                <a class="btn-primary btn-icon btn-small" href="{{ path('perscom_admin_user_create') }}">
                    <i class="ph ph-plus"></i>
                </a>
            {% endif %}
        </span>
        {% if is_granted('perscom-io.admin.users.assign_records') %}
            <div {{ stimulus_controller('forumify/forumify-platform/menu', { placement: 'bottom-end' }) }}>
                <a class="btn-primary" {{ stimulus_target('forumify/forumify-platform/menu', 'openButton') }}>
                    <i class="ph ph-plus"></i>{{ 'perscom.admin.users.quick_actions'|trans }}
                </a>
                <div class="menu" {{ stimulus_target('forumify/forumify-platform/menu', 'menu') }}>
                    {% include '@ForumifyPerscomPlugin/admin/users/list/quick_actions.html.twig' %}
                </div>
            </div>
        {% endif %}
    </div>
    {{ component('PerscomUserTable') }}
{% endblock %}
