<a class="btn-link" href="{{ path('perscom_admin_record_form', { type: 'service', id: user.id }) }}">
    <i class="ph ph-list-dashes"></i>{{ 'perscom.admin.users.list.actions.service'|trans }}
</a>
<a class="btn-link" href="{{ path('perscom_admin_record_form', { type: 'award', id: user.id }) }}">
    <i class="ph ph-medal-military"></i>{{ 'perscom.admin.users.list.actions.award'|trans }}
</a>
<a class="btn-link" href="{{ path('perscom_admin_record_form', { type: 'combat', id: user.id }) }}">
    <i class="ph ph-crosshair"></i>{{ 'perscom.admin.users.list.actions.combat'|trans }}
</a>
<a class="btn-link" href="{{ path('perscom_admin_record_form', { type: 'rank', id: user.id }) }}">
    <i class="ph ph-caret-double-up"></i>{{ 'perscom.admin.users.list.actions.rank'|trans }}
</a>
<a class="btn-link" href="{{ path('perscom_admin_record_form', { type: 'assignment', id: user.id }) }}">
    <i class="ph ph-identification-card"></i>{{ 'perscom.admin.users.list.actions.assignment'|trans }}
</a>
<a class="btn-link" href="{{ path('perscom_admin_record_form', { type: 'qualification', id: user.id }) }}">
    <i class="ph ph-certificate"></i>{{ 'perscom.admin.users.list.actions.qualification'|trans }}
</a>
<hr>
<a class="btn-link" href="{{ path('perscom_admin_user_delete', { id: user.id }) }}">
    <i class="ph ph-x"></i>{{ 'perscom.admin.users.list.actions.delete'|trans }}
</a>
