{% extends '@Forumify/admin/crud/form.html.twig' %}
{% block body %}
    <div class="flex justify-between items-start mb-4">
        <h1>
            {{ 'perscom.admin.users.edit.title'|trans({ name: data.name }) }}
        </h1>
        {% embed '@Forumify/components/menu.html.twig' with { placement: 'bottom-end', buttonClass: 'btn-primary' } %}
            {% block button_text %}
                <i class="ph ph-plus"></i>{{ 'perscom.admin.users.quick_actions'|trans }}
            {% endblock %}
            {% block menu_items %}
                {% include '@ForumifyPerscomPlugin/admin/users/list/quick_actions.html.twig' with { user: data } %}
            {% endblock %}
        {% endembed %}
    </div>
    <div {{ stimulus_controller('forumify/forumify-perscom-plugin/user_edit') }} class="box">
        {{ form_start(form) }}
        {% embed '@Forumify/components/tabs.html.twig' %}
            {% block tabs %}
                <button type="button" class="btn-link" data-tab-id="general">
                    {{ 'perscom.admin.users.edit.general'|trans }}
                </button>
                <button type="button" class="btn-link" data-tab-id="assignment">
                    {{ 'perscom.admin.users.edit.assignment'|trans }}
                </button>
            {% endblock %}
            {% block tabpanels %}
                <div id="general">
                    {{ form_row(form.name) }}
                    {{ form_row(form.rank) }}
                    {{ form_row(form.createdAt) }}
                    {{ form_row(form.newUniform) }}
                    {{ form_row(form.newSignature) }}
                </div>
                <div id="assignment">
                    <h2>Primary Assignment</h2>
                    <div class="alert-warning mb-4">
                        <p>{{ 'perscom.admin.users.edit.assignment_warning'|trans }}</p>
                    </div>
                    {{ form_row(form.specialty) }}
                    {{ form_row(form.status) }}
                    {{ form_row(form.position) }}
                    {{ form_row(form.unit) }}
                    {% include '@ForumifyPerscomPlugin/admin/users/edit/assignment_table.html.twig' with { user: data } %}
                </div>
            {% endblock %}
        {% endembed %}
        <div class="flex justify-center items-center gap-2">
            <button type="submit" class="btn-primary">{{ 'save'|trans }}</button>
            <a href="{{ path('perscom_admin_user_list') }}" class="btn-outlined">{{ 'cancel'|trans }}</a>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
