{% extends '@Forumify/admin/base.html.twig' %}
{% block body %}
    <h1 class="mb-4">{{ 'perscom.settings.title'|trans }}</h1>
    {{ form_start(form) }}
    <div class="box">
        {% embed '@Forumify/components/tabs.html.twig' %}
            {% block tabs %}
                <button type="button" class="btn-link" data-tab-id="enlistment">{{ 'perscom.settings.tab_enlistment'|trans }}</button>
                <button type="button" class="btn-link" data-tab-id="profile">{{ 'perscom.settings.tab_profile'|trans }}</button>
                {% if plugin_version('forumify/forumify-perscom-plugin', 'premium') %}
                    <button type="button" class="btn-link" data-tab-id="report-in">{{ 'perscom.settings.tab_report_in'|trans }}</button>
                {% endif %}
            {% endblock %}
            {% block tabpanels %}
                <div id="enlistment">
                    {{ form_row(form.perscom__enlistment__status) }}
                    {{ form_row(form.perscom__enlistment__form) }}
                    <h2 class="mb-2">{{ 'perscom.settings.automations'|trans }}</h2>
                    {{ form_row(form.perscom__enlistment__forum) }}
                    {{ form_row(form.perscom__enlistment__role) }}
                </div>
                <div id="profile">
                    {{ form_row(form.perscom__profile__overwrite_display_names) }}
                    {{ form_row(form.perscom__profile__display_name_format) }}
                    {{ form_row(form.perscom__profile__overwrite_avatars) }}
                    {{ form_row(form.perscom__profile__overwrite_signatures) }}
                </div>
                {% if plugin_version('forumify/forumify-perscom-plugin', 'premium') %}
                    <div id="report-in">
                        {{ form_row(form.perscom__report_in__enabled) }}
                        {{ form_row(form.perscom__report_in__enabled_status) }}
                        {{ form_row(form.perscom__report_in__period) }}
                        {{ form_row(form.perscom__report_in__warning_period) }}
                        {{ form_row(form.perscom__report_in__failure_status) }}
                    </div>
                {% endif %}
            {% endblock %}
        {% endembed %}
        <div class="flex justify-center items-center gap-2">
            <button type="submit" class="btn-primary">{{ 'save'|trans }}</button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
