{% extends '@Forumify/admin/base.html.twig' %}
{% block body %}
    {% include '@ForumifyPerscomPlugin/frontend/components/sync_warning.html.twig' %}
    <h1 class="mb-4">{{ 'perscom.settings.title'|trans }}</h1>
    {{ form_start(form) }}
    <div class="box">
        {% embed '@Forumify/components/tabs.html.twig' %}
            {% block tabs %}
                <button type="button" class="btn-link" data-tab-id="general">{{ 'perscom.settings.tab_general'|trans }}</button>
                <button type="button" class="btn-link" data-tab-id="profile">{{ 'perscom.settings.tab_profile'|trans }}</button>
                {% if plugin_version('forumify/forumify-perscom-plugin', 'premium') %}
                    <button type="button" class="btn-link" data-tab-id="report-in">{{ 'perscom.settings.tab_report_in'|trans }}</button>
                    <button type="button" class="btn-link" data-tab-id="operations">{{ 'perscom.settings.tab_operations'|trans }}</button>
                    <button type="button" class="btn-link" data-tab-id="squadxml">{{ 'perscom.settings.tab_squadxml'|trans }}</button>
                {% endif %}
            {% endblock %}
            {% block tabpanels %}
                <div id="general">
                    <h2>{{ 'perscom.settings.op_center'|trans }}</h2>
                    {{ form_row(form.perscom__opcenter__announcement) }}
                    <h2>{{ 'perscom.settings.roster'|trans }}</h2>
                    {{ form_row(form.perscom__roster__user_sort_order) }}
                    <h2>{{ 'perscom.settings.enlistment'|trans }}</h2>
                    {{ form_row(form.perscom__enlistment__status) }}
                    {{ form_row(form.perscom__enlistment__form) }}
                    {{ form_row(form.perscom__enlistment__roleplay_names) }}
                    <h3 class="mb-2">{{ 'perscom.settings.enlistment_automations'|trans }}</h2>
                    {{ form_row(form.perscom__enlistment__forum) }}
                    {{ form_row(form.perscom__enlistment__role) }}
                </div>
                <div id="profile">
                    {{ form_row(form.perscom__profile__overwrite_display_names) }}
                    {{ form_row(form.perscom__profile__display_name_format) }}
                    {{ form_row(form.perscom__profile__overwrite_avatars) }}
                    {{ form_row(form.perscom__profile__overwrite_signatures) }}
                </div>
                {% if plugin_version('forumify/forumify-perscom-plugin', 'premium') %}
                    <div id="report-in">
                        {{ form_row(form.perscom__report_in__enabled) }}
                        {{ form_row(form.perscom__report_in__enabled_status) }}
                        {{ form_row(form.perscom__report_in__period) }}
                        {{ form_row(form.perscom__report_in__warning_period) }}
                        {{ form_row(form.perscom__report_in__failure_status) }}
                    </div>
                    <div id="operations">
                        {{ form_row(form.perscom__operations__absent_notification) }}
                        {{ form_row(form.perscom__operations__absent_notification_message) }}
                        {{ form_row(form.perscom__operations__consecutive_absent_notification) }}
                        {{ form_row(form.perscom__operations__consecutive_absent_notification_count) }}
                        {{ form_row(form.perscom__operations__consecutive_absent_notification_message) }}
                        {{ form_row(form.perscom__operations__consecutive_absent_status) }}
                    </div>
                    <div id="squadxml">
                        <div class="alert-info mb-6">
                            <p class="mb-2">SquadXML is a feature used in the Arma games to identify members of different units. It adds your clantag to your member's names, displays your logo on some vehicles and uniforms, and much more.</p>
                            <p class="mb-2">Link to configure in your in-game profiles: <span class="text-italic">{{ absolute_url(path('perscom_squadxml_xml')) }}</span></p>
                            <a href="https://community.bistudio.com/wiki/squad.xml" target="_blank">Take a look at the official documentation to learn more.</a>
                        </div>
                        {{ form_row(form.perscom__squadxml__enabled) }}
                        {{ form_row(form.perscom__squadxml__name) }}
                        {{ form_row(form.perscom__squadxml__title) }}
                        {{ form_row(form.perscom__squadxml__nick) }}
                        {{ form_row(form.perscom__squadxml__email) }}
                        {{ form_row(form.perscom__squadxml__web) }}
                        {{ form_row(form.perscom__squadxml__new_picture) }}
                    </div>
                {% endif %}
            {% endblock %}
        {% endembed %}
        <div class="flex justify-center items-center gap-2">
            <button type="submit" class="btn-primary">{{ 'save'|trans }}</button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
