{% extends '@Forumify/frontend/base.html.twig' %}
{% block title_page %}{{ 'perscom.opcenter.operations_center'|trans }}{% endblock %}
{% block body %}
    <div class="flex justify-between mb-4">
        {% include '@ForumifyPerscomPlugin/frontend/user/components/header.html.twig' %}
        {% block opcenter_actions %}
            <a class="btn-primary" href="{{ path('perscom_user', { id: user.id }) }}">
                {{ 'perscom.opcenter.pfile'|trans }}
            </a>
        {% endblock %}
    </div>
    {% block opcenter_announcements %}
        {% for announcement in announcements %}
            {%- set class -%}
                {%- if announcement.color is same as 'failure' -%}alert-error{%- endif -%}
                {%- if announcement.color is same as 'warning' -%}alert-warning{%- endif -%}
                {%- if announcement.color is same as 'info' -%}alert-info{%- endif -%}
            {%- endset -%}
            <div class="{{ class }} mb-4">
                <h3 class="mb-2">{{ announcement.title }}</h3>
                {{ announcement.content|perscom_text }}
            </div>
        {% endfor %}
    {% endblock %}
    {% embed '@Forumify/components/tabs.html.twig' %}
        {% block tabs %}
            <button class="btn-link" data-tab-id="submissions">{{ 'perscom.opcenter.submissions'|trans }}</button>
            {% if plugin_version('forumify/forumify-perscom-plugin', 'premium') %}
                <button class="btn-link" data-tab-id="operations">{{ 'perscom.opcenter.operations'|trans }}</button>
            {% endif %}
        {% endblock %}
        {% block tabpanels %}
            {% include '@ForumifyPerscomPlugin/frontend/operations_center/tabs/submissions.html.twig' %}
            {% if plugin_version('forumify/forumify-perscom-plugin', 'premium') %}
                {% include '@ForumifyPerscomPlugin/frontend/operations_center/tabs/operations.html.twig' %}
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endblock %}
