{% extends '@Forumify/frontend/base.html.twig' %}
{% block title_page %}
    {% if user.rank %}{{ user.rank.abbreviation }} {% endif %}{{ user.name }}
{% endblock %}
{% block body %}
    <div class="flex justify-between mb-6">
        {% include '@ForumifyPerscomPlugin/frontend/user/components/header.html.twig' %}
        {% if user.user is not null %}
            <a class="btn-primary" href="{{ path('forumify_forum_profile', { username: user.user.username }) }}">
                {{ 'perscom.user.forum_profile'|trans }}
            </a>
        {% endif %}
    </div>
    {% if user.uniform %}
        <div class="text-center mb-4">
            <img style="max-height: 530px; max-width: 100%" src="{{ asset(user.uniform, 'perscom.asset') }}">
        </div>
    {% endif %}
    <div class="grid gap-4">
        <div class="col-xs-12 col-md-4 col-xl-3 flex flex-col gap-4">
            {% if user.rank %}
                <div class="card hide-phone">
                    <div class="card-title">{{ 'perscom.user.rank'|trans }}</div>
                    <div class="card-body flex flex-col items-center">
                        {% if user.rank.image %}
                            <img width="125px" height="auto" src="{{ asset(user.rank.image, 'perscom.asset') }}" alt="">
                        {% endif %}
                        <div class="text-small text-center">
                            <p>{{ user.rank.name }}</p>
                            <span class="text-bold">{{ user.rank.paygrade }}</span> | {{ user.rank.abbreviation }}
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="card">
                <div class="card-title">{{ 'perscom.user.assignment'|trans }}</div>
                <div class="card-body">
                    <div class="flex flex-col gap-2">
                        {% if user.specialty %}
                            <div>
                                <p class="text-bold">{{ 'perscom.user.specialty'|trans }}</p>
                                <p>{{ user.specialty.name }}</p>
                            </div>
                        {% endif %}
                        {% if user.unit %}
                            <div>
                                <p class="text-bold">{{ 'perscom.user.unit'|trans }}</p>
                                <p>{{ user.unit.name }}</p>
                            </div>
                        {% endif %}
                        {% if user.position %}
                            <div>
                                <p class="text-bold">{{ 'perscom.user.position'|trans }}</p>
                                <p>{{ user.position.name }}</p>
                            </div>
                        {% endif %}
                        {% if supervisors is not empty %}
                            <div>
                                <p class="text-bold">{{ 'perscom.user.supervisors'|trans }}</p>
                                <ul>
                                    {% for supervisor in supervisors %}
                                        <li>{{ supervisor.rank.abbreviation|default('') }} {{ supervisor.name }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if tis or tig %}
                <div class="card">
                    <div class="card-title">{{ 'perscom.user.length_in_service'|trans }}</div>
                    <div class="card-body flex flex-col">
                        {% if tis %}
                            <p class="text-bold">{{ 'perscom.user.time_in_service'|trans }}</p>
                            <p class="mb-2">
                                {{ [
                                    'date_relative.years'|trans({ count: tis.format('%y') }),
                                    'date_relative.months'|trans({ count: tis.format('%m') }),
                                    'date_relative.days'|trans({ count: tis.format('%d') })
                                ]|filter(v => v is not empty)|join(', ') }}
                            </p>
                        {% endif %}
                        {% if tig %}
                            <p class="text-bold">{{ 'perscom.user.time_in_grade'|trans }}</p>
                            <p class="mb-2">
                                {{ [
                                    'date_relative.years'|trans({ count: tig.format('%y') }),
                                    'date_relative.months'|trans({ count: tig.format('%m') }),
                                    'date_relative.days'|trans({ count: tig.format('%d') })
                                ]|filter(v => v is not empty)|join(', ') }}
                            </p>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
            {% if setting('perscom.report_in.enabled') %}
                <div class="card">
                    <div class="card-title">
                        {{ 'perscom.user.last_report_in'|trans }}
                    </div>
                    <div class="card-body">
                        {% if reportInDate is not null %}
                            {{ reportInDate|format_date }}
                        {% else %}
                            {{ 'perscom.user.no_report_in'|trans }}
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
        <hr class="col-xs-12 hide-tablet hide-desktop">
        <div class="col-xs-12 col-md-8 col-xl-9">
            {% embed '@Forumify/components/tabs.html.twig' %}
                {% block tabs %}
                    <button class="btn-link" data-tab-id="assignment">{{ 'perscom.user.profile'|trans }}</button>
                    <button class="btn-link" data-tab-id="service-record">{{ 'perscom.user.service_record'|trans }}</button>
                    <button class="btn-link" data-tab-id="award-record">{{ 'perscom.user.award_record'|trans }}</button>
                    <button class="btn-link" data-tab-id="combat-record">{{ 'perscom.user.combat_record'|trans }}</button>
                    <button class="btn-link" data-tab-id="rank-record">{{ 'perscom.user.rank_record'|trans }}</button>
                    <button class="btn-link" data-tab-id="assignment-record">{{ 'perscom.user.assignment_record'|trans }}</button>
                    <button class="btn-link" data-tab-id="qualification-record">{{ 'perscom.user.qualifications'|trans }}</button>
                {% endblock %}
                {% block tabpanels %}
                    <div id="assignment">
                        {% include '@ForumifyPerscomPlugin/frontend/user/components/assignment.html.twig' %}
                    </div>
                    <div id="service-record">
                        {{ component('ServiceRecordTable', { user: user }) }}
                    </div>
                    <div id="award-record">
                        {{ component('AwardRecordTable', { user: user }) }}
                    </div>
                    <div id="combat-record">
                        {{ component('CombatRecordTable', { user: user }) }}
                    </div>
                    <div id="rank-record">
                        {{ component('RankRecordTable', { user: user }) }}
                    </div>
                    <div id="assignment-record">
                        {{ component('AssignmentRecordTable', { user: user }) }}
                    </div>
                    <div id="qualification-record">
                        {{ component('QualificationRecordTable', { user: user }) }}
                    </div>
                {% endblock %}
            {% endembed %}
        </div>
    </div>
{% endblock %}
