{% extends '@Forumify/frontend/base.html.twig' %}
{% block title_page %}
    {{ user.rank.abbreviation }} {{ user.name }}
{% endblock %}
{% block body %}
    <div class="flex justify-between mb-6">
        {% include '@ForumifyPerscomPlugin/frontend/user/components/header.html.twig' %}
        {% if forumAccount %}
            <a class="btn-primary" href="{{ path('forumify_forum_profile', { username: forumAccount.username }) }}">
                {{ 'perscom.user.forum_profile'|trans }}
            </a>
        {% endif %}
    </div>
    {% if user.cover_photo_url %}
        <div class="box text-center mb-4">
            <img style="max-height: 530px; max-width: 100%" src="{{ user.cover_photo_url }}">
        </div>
    {% endif %}
    <div class="flex gap-4">
        <div class="w-25 flex flex-col gap-4">
            {% if user.rank %}
                <div class="card">
                    <div class="card-title">{{ 'perscom.user.rank'|trans }}</div>
                    <div class="card-body flex flex-col items-center">
                        {% if user.rank.image %}
                            <img width="125px" height="auto" src="{{ user.rank.image.image_url }}" alt="">
                        {% endif %}
                        <div class="text-small">{{ user.rank.name }}</div>
                    </div>
                </div>
            {% endif %}
            <div class="card">
                <div class="card-title">{{ 'perscom.user.length_in_service'|trans }}</div>
                <div class="card-body flex flex-col">
                    <p class="text-bold">{{ 'perscom.user.time_in_service'|trans }}</p>
                    <p class="mb-2">
                        {{ [
                            'date_relative.years'|trans({ count: tis.format('%y') }),
                            'date_relative.months'|trans({ count: tis.format('%m') }),
                            'date_relative.days'|trans({ count: tis.format('%d') })
                        ]|filter(v => v is not empty)|join(', ') }}
                    </p>
                    {% if tig %}
                        <p class="text-bold">{{ 'perscom.user.time_in_grade'|trans }}</p>
                        <p class="mb-2">
                            {{ [
                                'date_relative.years'|trans({ count: tig.format('%y') }),
                                'date_relative.months'|trans({ count: tig.format('%m') }),
                                'date_relative.days'|trans({ count: tig.format('%d') })
                            ]|filter(v => v is not empty)|join(', ') }}
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="w-75">
            {% embed '@Forumify/components/tabs.html.twig' %}
                {% block tabs %}
                    <button class="btn-link" data-tab-id="assignment">{{ 'perscom.user.assignment'|trans }}</button>
                    <button class="btn-link" data-tab-id="service-record">{{ 'perscom.user.service_record'|trans }}</button>
                    <button class="btn-link" data-tab-id="award-record">{{ 'perscom.user.award_record'|trans }}</button>
                    <button class="btn-link" data-tab-id="combat-record">{{ 'perscom.user.combat_record'|trans }}</button>
                    <button class="btn-link" data-tab-id="rank-record">{{ 'perscom.user.rank_record'|trans }}</button>
                    <button class="btn-link" data-tab-id="assignment-record">{{ 'perscom.user.assignment_record'|trans }}</button>
                    <button class="btn-link" data-tab-id="qualification-record">{{ 'perscom.user.qualifications'|trans }}</button>
                {% endblock %}
                {% block tabpanels %}
                    <div id="assignment">
                        {% include '@ForumifyPerscomPlugin/frontend/user/components/assignment.html.twig' %}
                    </div>
                    <div id="service-record">
                        {{ component('RecordTable', { data: user.service_records }) }}
                    </div>
                    <div id="award-record">
                        {{ component('AwardRecordTable', { data: user.award_records }) }}
                    </div>
                    <div id="combat-record">
                        {{ component('RecordTable', { data: user.combat_records }) }}
                    </div>
                    <div id="rank-record">
                        {{ component('RankRecordTable', { data: user.rank_records }) }}
                    </div>
                    <div id="assignment-record">
                        {{ component('AssignmentRecordTable', { data: user.assignment_records }) }}
                    </div>
                    <div id="qualification-record">
                        {{ component('QualificationRecordTable', { data: user.qualification_records }) }}
                    </div>
                {% endblock %}
            {% endembed %}
        </div>
    </div>
{% endblock %}
