<div {{ attributes }}>
    {% if this.sheet is null %}
        <div class="box" data-loading="hide">
            {% if this.error %}
                <div class="alert-error mb-4">{{ this.error }}</div>
            {% endif %}
            {{ form_start(form, {
                attr: {
                    'data-action': 'live#action:prevent',
                    'data-live-action-param': 'calculate'
                }
            }) }}
            {{ form_widget(form) }}
            <div class="flex justify-center">
                <button class="btn-primary">
                    <i class="ph ph-calculator"></i>
                    {{ 'perscom.attendance_sheet.generate'|trans }}
                </button>
            </div>
            {{ form_end(form) }}
        </div>
    {% else %}
        {% include '@ForumifyPerscomPlugin/frontend/components/attendance_sheet/sheet.html.twig' %}
    {% endif %}
    <div data-loading>
        <div class="flex flex-col justify-center items-center w-100" style="height: 300px;">
            {% include '@Forumify/components/loader.html.twig' %}
            <span class="text-light">{{ 'perscom.attendance_sheet.loading'|trans }}</span>
        </div>
    </div>
</div>
