{% embed '@Forumify/components/list.html.twig' with { class: '' } %}
    {% block pagination_top %}
        <div class="mb-6">
            {% include '@Forumify/components/components/pagination.html.twig' %}
        </div>
    {% endblock %}
    {% block list %}
        <ul>
            {% for item in this.result.rows %}
                <li class="card flex flex-col mb-4">
                    <div class="card-title">
                        {{ item.name }}
                    </div>
                    <div class="card-body grid gap-4">
                        <div class="col-xs-12 col-sm-3 col-lg-2 flex flex-col items-center">
                            {% if item.image %}
                                <img src="{{ asset(item.image, 'perscom.asset') }}" width="100%" height="auto">
                            {% endif %}
                            <div class="text-small">
                                <span class="text-bold">{{ item.paygrade }}</span> | {{ item.abbreviation }}
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-9 col-lg-10">
                            {{ item.description|perscom_text }}
                        </div>
                    </div>
                </li>
            {% else %}
                <li>{{ 'perscom.rank.no_ranks'|trans }}</li>
            {% endfor %}
        </ul>
    {% endblock %}
    {% block pagination_bottom %}
        <div class="mt-6">
            {% include '@Forumify/components/components/pagination.html.twig' %}
        </div>
    {% endblock %}
{% endembed %}
