<div {{ attributes }}>
    <div class="tablist" role="tablist">
        {% for group in this.groups %}
            <button
                class="btn-link{% if this.selectedGroup == group.id or (loop.first and this.selectedGroup is null) %} active{% endif %}"
                role="tab"
                data-action="live#action"
                data-live-action-param="selectGroup"
                data-live-group-id-param="{{ group.id }}"
            >
                {{ group.name }}
            </button>
        {% endfor %}
    </div>
    <div data-loading>
        <div class="flex justify-center">
            {% include '@Forumify/components/loader.html.twig' %}
        </div>
    </div>
    <div data-loading="hide">
        {% set group = this.group %}
        {% if group is not empty %}
            <ul id="group-{{ group.id }}">
                {% for unit in group.units %}
                    {% if unit.users is not empty %}
                        {% block roster_unit %}
                            <li class="card mb-4">
                                {% block roster_unit_name %}
                                    <div class="card-title">{{ unit.name }}</div>
                                {% endblock %}
                                {% block roster_unit_users %}
                                    <ul class="card-body">
                                        {% for user in unit.users %}
                                            <li class="text-small">
                                                <a href="{{ path('perscom_user', { id: user.id }) }}" class="btn-link w-100">
                                                    {% include '@ForumifyPerscomPlugin/frontend/roster/components/soldier_row.html.twig' with {
                                                        soldier: user
                                                    } only %}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endblock %}
                            </li>
                        {% endblock %}
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>
{% macro placeholder(props) %}
    <div class="tablist" role="tablist">
        {% for group in props.groups %}
            <button class="btn-link" role="tab" disabled>
                {{ group.name }}
            </button>
        {% endfor %}
    </div>
    <div class="flex justify-center">
        {% include '@Forumify/components/loader.html.twig' %}
    </div>
{% endmacro %}
