<div {{ attributes }}>
    <div class="tablist" role="tablist">
        {% for roster in this.rosters %}
            <button
                class="btn-link{% if this.selectedRosterId == roster.id %} active{% endif %}"
                role="tab"
                data-action="live#action"
                data-live-action-param="selectRoster"
                data-live-roster-id-param="{{ roster.id }}"
            >
                {{ roster.name }}
            </button>
        {% endfor %}
    </div>
    <div data-loading>
        <div class="flex justify-center">
            {% include '@Forumify/components/loader.html.twig' %}
        </div>
    </div>
    <div data-loading="hide">
        {% set roster = this.roster %}
        <ul id="roster-{{ roster.id }}">
            {% for unit in roster.units %}
                {% set users = this.usersInUnit(unit) %}
                {% if users is not empty %}
                    {% block roster_unit %}
                        <li class="card mb-4">
                            {% block roster_unit_name %}
                                <div class="card-title">{{ unit.name }}</div>
                            {% endblock %}
                            {% block roster_unit_users %}
                                <ul class="card-body">
                                    {% for user in users %}
                                        <li class="text-small">
                                            <a href="{{ path('perscom_user', { id: user.perscomId }) }}" class="btn-link w-100">
                                                {% include '@ForumifyPerscomPlugin/frontend/roster/components/soldier_row.html.twig' with {
                                                    soldier: user
                                                } only %}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endblock %}
                        </li>
                    {% endblock %}
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
