{% extends '@Forumify/components/list.html.twig' %}
{% block row %}
    <li class="mb-2 flex items-center justify-between">
        <div>
            {% embed '@Forumify/components/modal.html.twig' %}
                {% block modalOpenButton %}
                    <a>{{ item.form.name }}</a>
                {% endblock %}
                {% block modalContent %}
                    <div class="box">
                        <div class="mb-4">
                            <h2>
                                {{ item.form.name }}
                                {% set status = item.statuses|first %}
                                {% if status %}
                                    {% include '@ForumifyPerscomPlugin/frontend/roster/components/status.html.twig' with {
                                        status: item.statuses[0],
                                        class: 'text-small'
                                    } only %}
                                {% endif %}
                            </h2>
                            {% include '@ForumifyPerscomPlugin/components/submission.html.twig' with {
                                submission: item
                            } %}
                        </div>
                        <h3>{{ 'perscom.opcenter.status_history'|trans }}</h3>
                        <ul>
                            {% for status in item.statuses|sort((a, b) => b.updated_at <=> a.updated_at) %}
                                <li class="mb-2">
                                    <h4 class="mb-0">{{ status.name }}</h4>
                                    <p class="text-small mb-2">{{ 'date'|trans({ date: status.record.updated_at|perscom_date }) }}</p>
                                    <p>
                                        {{ status.record.text }}
                                    </p>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endblock %}
            {% endembed %}
            <p class="text-small">
                {{ 'date_time_short'|trans({ date: item.created_at }) }}
            </p>
        </div>
        {% set status = item.statuses|first %}
        {% if status %}
            {% include '@ForumifyPerscomPlugin/frontend/roster/components/status.html.twig' with {
                status: status,
                class: 'text-small'
            } only %}
        {% endif %}
    </li>
{% endblock %}
{% block empty %}
    {{ 'table.no_entries'|trans }}
{% endblock %}
